:root {
    --bg-first-color: rgb(51, 23, 15);
    --bg-second-color: rgb(68, 32, 23);
    --secondary-menu-color: rgb(39, 22, 16);
    --menu-color: rgb(26, 14, 10);
    --disabled-menu-color: rgb(26, 14, 10, 0.6);
    --text-color: rgb(221, 217, 213);
    --link-color: rgb(255, 242, 200);
    --blurred-link-color: rgb(255, 242, 200, 0.5);
    --title-color: rgb(209, 176, 114);
    --tab-hover-color: rgb(209, 176, 114, 0.6);
    --menu-line-color: rgb(105, 65, 50);
    --bright-menu-line-color: rgb(161, 115, 98);
    --button-red: rgb(105, 42, 42);
    --button-dark: rgb(51, 32, 63);
    --button-darkblue: rgb(34, 32, 63);
    --button-mint: rgb(39, 73, 70);
    --table-notice-color-light: rgb(0, 49, 8);
    --table-notice-color-dark: rgb(0, 34, 6);
    --table-contest-color-light: rgb(4, 0, 58);
    --table-contest-color-dark: rgb(2, 0, 37);
    --glyphicon-like-color: rgb(0, 255, 98);
    --glyphicon-unlike-color: rgb(255, 0, 0);
    --default-black: rgb(30, 30, 30);
    --gradient-black: linear-gradient(to right,
            rgb(0, 0, 0, 0.4) 0%,
            rgb(0, 0, 0, 0.4) 35%,
            transparent 80%);

    --settings-block-color: rgb(48, 30, 24);
    --settings-secondary-block-color: rgb(65, 42, 35);

    --tc-red: rgb(238, 0, 0);
    --tc-yellow: rgb(221, 204, 0);
    --tc-blue: rgb(102, 102, 255);
    --tc-green: rgb(0, 169, 0);
    --tc-gray: rgb(153, 153, 153);

    --cf-admin: white;
    --cf-legendary: rgb(250, 125, 125);
    --cf-red: red;
    --cf-orange: rgb(255, 140, 0);
    --cf-purple: rgb(170, 0, 170);
    --cf-blue: blue;
    --cf-mint: rgb(3, 168, 158);
    --cf-green: green;
    --cf-gray: gray;

    --at-red: red;
    --at-orange: rgb(255, 128, 0);
    --at-yellow: rgb(192, 192, 0);
    --at-blue: blue;
    --at-mint: rgb(0, 192, 192);
    --at-green: rgb(0, 128, 0);
    --at-brown: rgb(128, 64, 0);
    --at-gray: gray;

    --normal-main-color: rgb(0, 118, 192);
    --normal-sub-color: rgb(255, 255, 255);
    --normal-hover-color: rgb(182, 210, 228);
    --translucent-white-color: rgb(255, 255, 255, 0.1);
    --ttj-hover-color: rgb(114, 75, 61, 0.75);
    --translucent-dark-color: rgb(0, 0, 0, 0.3);
    --shadow-color: rgb(0, 0, 0, 0.35);

    --filter-blue: brightness(0) saturate(100%) invert(29%) sepia(66%) saturate(1717%) hue-rotate(179deg) brightness(101%) contrast(101%);
    --filter-white: brightness(0) saturate(100%) invert(99%) sepia(94%) saturate(2%) hue-rotate(358deg) brightness(109%) contrast(100%);
    --filter-light-brown: brightness(0) saturate(100%) invert(49%) sepia(26%) saturate(568%) hue-rotate(330deg) brightness(93%) contrast(86%);
    --filter-dark-brown: brightness(0) saturate(100%) invert(5%) sepia(26%) saturate(1245%) hue-rotate(329deg) brightness(98%) contrast(97%);
    --filter-gold: brightness(0) saturate(100%) invert(77%) sepia(25%) saturate(571%) hue-rotate(1deg) brightness(89%) contrast(91%);


    --table-ac-color: rgb(0, 42, 8);
    --table-ac-secondary-color: rgb(0, 54, 9);
    --table-ac-text-color: rgb(95, 174, 95);
    --table-wa-color: rgb(67, 1, 21);
    --table-wa-secondary-color: rgb(87, 2, 27);
    --table-wa-text-color: rgb(199, 110, 110);

    --light-gradient-color: linear-gradient(60deg,
            var(--secondary-menu-color) 0%,
            var(--secondary-menu-color) 10%,
            rgba(56, 24, 0, 1) 14%,
            var(--secondary-menu-color) 18%,
            rgba(49, 20, 0, 1) 65%,
            rgba(61, 39, 0, 1) 72%,
            var(--secondary-menu-color) 79%,
            var(--secondary-menu-color) 92%,
            rgba(56, 24, 0, 1) 94%,
            var(--secondary-menu-color) 96%);

    --dark-gradient-color: linear-gradient(60deg,
            rgba(26, 14, 10, 1) 0%,
            rgba(21, 6, 0, 1) 49%,
            rgba(36, 14, 6, 1) 61%,
            rgba(26, 14, 10, 1) 75%,
            rgba(52, 17, 0, 1) 83%,
            rgba(26, 14, 10, 1) 90%,
            rgba(26, 14, 10, 1) 100%);

    --opposite-streak-color: rgb(216, 233, 239);

    /* AC Label Colors */
    --label-green-gradient-color: linear-gradient(120deg,
            rgb(43, 100, 60) 0%,
            rgb(13, 49, 23) 100%);

    --label-red-gradient-color: linear-gradient(120deg,
            rgb(186, 44, 40) 0%,
            rgb(102, 23, 21) 100%);

    --label-yellow-gradient-color: linear-gradient(120deg,
            rgb(219, 162, 20) 0%,
            rgb(102, 76, 10) 100%);

    --label-sky-gradient-color: linear-gradient(120deg,
            rgb(35, 141, 174) 0%,
            rgb(17, 68, 84) 100%);

    --label-gray-gradient-color: linear-gradient(120deg,
            rgb(75, 75, 75) 0%,
            rgb(35, 35, 35) 100%);

    --label-blue-gradient-color: linear-gradient(120deg,
            rgb(54, 77, 122) 0%,
            rgb(29, 42, 66) 100%);

    --label-mint-gradient-color: linear-gradient(120deg,
            rgb(18, 129, 108) 0%,
            rgb(10, 75, 63) 100%);

    --scoreboard-gold-gradient-color: linear-gradient(150deg, rgba(255, 242, 199, 1) 0%, rgba(246, 220, 136, 1) 15%, rgba(213, 169, 72, 1) 40%, rgba(195, 152, 56, 1) 63%, rgba(253, 162, 47, 1) 100%);
    --scoreboard-silver-gradient-color: linear-gradient(150deg, rgba(227, 227, 227, 1) 0%, rgba(167, 167, 167, 1) 15%, rgba(129, 129, 129, 1) 38%, rgba(93, 93, 98, 1) 74%, rgba(138, 136, 146, 1) 100%);
    --scoreboard-bronze-gradient-color: linear-gradient(150deg, rgba(227, 199, 182, 1) 0%, rgba(209, 140, 98, 1) 15%, rgba(162, 97, 57, 1) 40%, rgba(159, 86, 40, 1) 74%, rgba(208, 89, 29, 1) 100%);
}