html.totamjung p,
html.totamjung div,
html.totamjung li,
html.totamjung li a,
html.totamjung pre {
    color: var(--text-color);
}

html.totamjung a,
html.totamjung .btn-link {
    color: var(--link-color);
}

html.totamjung li a.highlight {
    color: var(--link-color) !important;
}

html.totamjung h1,
html.totamjung h2,
html.totamjung h3,
html.totamjung h4,
html.totamjung h5,
html.totamjung h6 {
    color: var(--title-color);
    font-weight: 600;
}

html.totamjung input,
html.totamjung select,
html.totamjung textarea {
    background-color: var(--menu-color) !important;
    border-color: var(--bright-menu-line-color) !important;
    color: var(--text-color) !important;
}

html.totamjung input[type='checkbox'],
html.totamjung input[type='radio'] {
    filter: invert(100%) hue-rotate(18deg) brightness(1.0);
}

html.totamjung button[type='submit'],
html.totamjung button[type='submit']:hover,
html.totamjung button[type='submit']:focus,
html.totamjung button.btn.btn-primary,
html.totamjung button.navbar-toggle,
html.totamjung a.btn,
html.totamjung .btn.btn-default,
html.totamjung .btn-u {
    background-color: var(--menu-line-color);
    border: none;
    box-shadow: 0 0 13px var(--menu-color);
    color: var(--text-color);
}

html.totamjung .pace-progress {
    background: var(--title-color);
    box-shadow: 0 0 20px var(--title-color);
    transition: 0.1s;
}

html.totamjung .btn {
    border: none;
    box-shadow: 0 0 13px var(--menu-color);
}

html.totamjung .btn.btn-link.copy-button {
    box-shadow: none;
}

html.totamjung blockquote {
    background: var(--gradient-black);
    border-left-color: var(--title-color);
}

html.totamjung .datepicker {
    background-color: var(--menu-line-color);
}

html.totamjung .datepicker span:hover {
    background-color: var(--bright-menu-line-color);
}

html.totamjung .datepicker span.active {
    background: none !important;
    background-color: var(--bright-menu-line-color) !important;
}

html.totamjung .datepicker::after {
    border-bottom-color: var(--menu-line-color);
}

html.totamjung .sky-form .icon-append {
    color: var(--title-color);
}

html.totamjung .header .navbar-toggle:hover,
html.totamjung .header .navbar-toggle:focus {
    background: var(--menu-line-color) !important;
}

html.totamjung input:disabled {
    background-color: var(--disabled-menu-color);
    color: var(--text-color);
}

html.totamjung input:focus,
html.totamjung select:focus {
    border-color: var(--title-color);
    box-shadow: 0 0 6px var(--title-color);
}

html.totamjung form {
    border: none;
}

html.totamjung form fieldset {
    background-color: var(--menu-color);
}

html.totamjung hr,
html.totamjung legend {
    border-color: var(--bright-menu-line-color);
}

html.totamjung legend {
    color: var(--title-color);
    font-weight: 600;
}

html.totamjung .wrapper {
    background-size: 100px 150px;
    background-attachment: fixed;
    background-color: var(--bg-first-color);
    background-image:
        linear-gradient(
            56.4deg,
            var(--bg-second-color) 25%,
            transparent 25%,
            transparent 75%,
            var(--bg-second-color) 75%
        ),
        linear-gradient(
            -56.4deg,
            var(--bg-second-color) 25%,
            transparent 25%,
            transparent 75%,
            var(--bg-second-color) 75%
        );
}

html.totamjung .header,
html.totamjung .footer {
    background-color: var(--menu-color);
}

html.totamjung .header {
    border-bottom-color: var(--menu-line-color);
    box-shadow: 0px 10px 20px var(--menu-color);
}

html.totamjung .footer {
    border-bottom: 0px;
    border-top-color: var(--menu-line-color);
    box-shadow: 10px 0px 30px var(--menu-color);
}

html.totamjung .mega-menu-content {
    border-top-color: var(--menu-link-color);
}

html.totamjung .mega-menu-content > .container > .row.equal-height {
    border-top: 2px solid var(--link-color);
}

html.totamjung .mega-menu-content .equal-height-in:nth-child(odd) {
    border: none;
    background-color: var(--menu-color);
}

html.totamjung .mega-menu-content .equal-height-in:nth-child(even) {
    border: none;
    background-color: var(--secondary-menu-color);
}

html.totamjung .mega-menu-content .equal-height-in a:hover {
    background-color: var(--menu-line-color) !important;
}

html.totamjung ul.dropdown-menu {
    border: none;
    background-color: var(--menu-color);
}

html.totamjung .dropdown-menu .divider {
    background-color: var(--menu-line-color);
}

html.totamjung .dropdown-menu > li {
    box-shadow: 0 0 13px var(--menu-color);
}

html.totamjung .dropdown-menu > li > a {
    transition: 0.2s;
}

html.totamjung .dropdown-menu > li > a:hover,
html.totamjung .dropdown-menu > li > a:focus {
    color: var(--menu-color);
    text-decoration: none;
    background-color: var(--title-color);
}

html.totamjung .header .dropdown-menu li a {
    background-color: transparent;
    color: var(--link-color);
}

html.totamjung .nav.navbar-nav > li > a {
    transition: 0.3s;
}

html.totamjung .nav.navbar-nav > li.active > a,
html.totamjung .nav.navbar-nav li:hover > a {
    color: var(--title-color);
    border-bottom-color: var(--link-color);
}

@media (max-width: 991px) {
    html.totamjung .header .navbar-default .navbar-nav > .active > a {
        background-color: var(--menu-line-color);
        color: var(--menu-color);
    }
}

html.totamjung .page-header {
    border-bottom-color: var(--bright-menu-line-color);
}

html.totamjung .panel {
    border: none;
    box-shadow: 0 0 13px var(--menu-color);
}

html.totamjung .panel-heading {
    background-color: black;
    border-bottom-color: var(--menu-line-color);
}

html.totamjung .panel-body {
    background-color: var(--menu-color);
}

html.totamjung .panel-body > .content > pre {
    background-color: black;
    border: 1px solid var(--menu-line-color);
}

html.totamjung .nav-pills > li > a {
    transition: 0.2s;
}

html.totamjung .nav-pills > li.active > a {
    background-color: var(--title-color);
    box-shadow: 0 0 13px var(--menu-color);
    color: var(--menu-color);
}

html.totamjung .nav-pills > li > a:hover,
html.totamjung .nav-pills > li > a:focus,
html.totamjung .nav-pills > li > a:active {
    background-color: var(--tab-hover-color) !important;
}

html.totamjung pre {
    background-color: var(--menu-color);
    border-color: var(--menu-color);
    box-shadow: 0px 0px 5px var(--menu-color);
}

html.totamjung pre.CodeMirror-line {
    box-shadow: none;
}

html.totamjung .breadcrumbs {
    background-image: none;
    background-color: var(--secondary-menu-color);
    box-shadow: 0px 5px 10px var(--secondary-menu-color);
    border-bottom-color: var(--menu-line-color);
}

html.totamjung .parallax-counter-v1 {
    filter: invert(6%)
            sepia(14%)
            saturate(500%)
            hue-rotate(331deg)
            brightness(70%)
            contrast(100%);
}

html.totamjung .headline {
    border-bottom-color: var(--bright-menu-line-color);
}
html.totamjung .headline h2,
html.totamjung .headline h3,
html.totamjung .headline h4 {
    border-bottom: 3px solid var(--title-color);
}

html.totamjung .blog-twitter-inner {
    background-color: var(--menu-color);
}

html.totamjung .blog-twitter-inner a:nth-child(2) {
    color: var(--link-color);
}

html.totamjung .blog-twitter-inner a:nth-child(3) {
    color: var(--text-color);
}

html.totamjung .blog-twitter-inner::before {
    border-bottom-color: var(--secondary-menu-color);
}

html.totamjung .blog-twitter-inner::after {
    border-top-color: var(--title-color);
}

html.totamjung .blog-twitter-inner:hover::before {
    border-bottom: 25px solid var(--secondary-menu-color);
    border-left: 25px solid transparent;
}

html.totamjung .blog-twitter-inner:hover::after {
    border-top-color: var(--title-color);
    border-top: 25px solid var(--title-color);
    border-right: 25px solid transparent;
}

html.totamjung .result-ac {
    color: rgb(0, 152, 116);
}

html.totamjung .result-pac {
    color: rgb(239, 192, 80);
}

html.totamjung .result-wa {
    color: rgb(221, 65, 36);
}

html.totamjung #favorite_button, 
html.totamjung #lang-select-button,
html.totamjung #like-button,
html.totamjung #unlike-button {
    background-color: var(--menu-color);
    color: var(--text-color);
    border: none;
}

html.totamjung #favorite_button[data-favorite='1'] {
    color: var(--title-color);
}

html.totamjung #like-button.btn-primary {
    color: var(--glyphicon-like-color);
}

html.totamjung #unlike-button.btn-danger {
    color: var(--glyphicon-unlike-color);
}

html.totamjung .table.table-hover > tbody > tr:hover > td,
html.totamjung .table.table-hover > tbody > tr:hover > th {
    background-color: transparent !important;
}

html.totamjung .table-hover th,
html.totamjung .table-hover td {
    border-top-color: var(--bright-menu-line-color);
}

html.totamjung .tab-v2 .nav-tabs {
    background-color: transparent;
}

html.totamjung .tab-v2 .nav-tabs li.active a {
    background-color: var(--bright-menu-line-color);
    border: none;
    color: var(--text-color);
}

html.totamjung .table-striped > thead > tr,
html.totamjung .table-bordered > thead > tr {
    background-color: black;
}

html.totamjung .table-striped,
html.totamjung .table-striped th,
html.totamjung .table-striped tr,
html.totamjung .table-striped td,
html.totamjung .table-bordered,
html.totamjung .table-bordered th,
html.totamjung .table-bordered tr,
html.totamjung .table-bordered td {
    border: none;
}

html.totamjung .table-striped,
html.totamjung .table-bordered {
    box-shadow: 0 0 15px var(--menu-color);
}

html.totamjung .table-striped > tbody > tr:nth-child(odd) > td,
html.totamjung .table-striped > tbody > tr:nth-child(odd) > th,
html.totamjung .table-bordered > tbody > tr:nth-child(odd) > td,
html.totamjung .table-bordered > tbody > tr:nth-child(odd) > th {
    background-color: var(--menu-color);
}

html.totamjung .table-striped > tbody > tr:nth-child(even) > td,
html.totamjung .table-striped > tbody > tr:nth-child(even) > th,
html.totamjung .table-bordered > tbody > tr:nth-child(even) > td,
html.totamjung .table-bordered > tbody > tr:nth-child(even) > th {
    background-color: var(--secondary-menu-color);
}

html.totamjung .table-striped > tbody > tr.success:nth-of-type(odd) > td,
html.totamjung .table-striped > tbody > tr.success:nth-of-type(odd) > th {
    background-color: var(--table-notice-color-dark);
}

html.totamjung .table-striped > tbody > tr.success:nth-of-type(even) > td,
html.totamjung .table-striped > tbody > tr.success:nth-of-type(even) > th {
    background-color: var(--table-notice-color-light);
}

html.totamjung .table-striped > tbody > tr.info:nth-of-type(odd) > td,
html.totamjung .table-striped > tbody > tr.info:nth-of-type(odd) > th {
    background-color: var(--table-contest-color-dark);
}

html.totamjung .table-striped > tbody > tr.info:nth-of-type(even) > td,
html.totamjung .table-striped > tbody > tr.info:nth-of-type(even) > th {
    background-color: var(--table-contest-color-light);
}

html.totamjung .table-condensed th,
html.totamjung .table-condensed td {
    border-color: var(--bright-menu-line-color);
}

html.totamjung .table-condensed th {
    color: var(--title-color);
}


@media screen and (max-width: 767px) {
    html.totamjung .table-responsive {
        border: none;
        box-shadow: 0 0 13px var(--menu-color);
    }
}

html.totamjung .redactor-box.redactor-styles-on {
    background-color: var(--menu-color);
    box-shadow: 0 0 13px var(--menu-color);
}

html.totamjung .redactor-focus.redactor-styles-on,
html.totamjung .redactor-focus:focus.redactor-styles-on {
    border-color: var(--menu-color) !important;
}

html.totamjung .redactor-toolbar .re-button:nth-child(odd) {
    background-color: var(--menu-line-color);
}

html.totamjung .redactor-toolbar .re-button:nth-child(even) {
    background-color: var(--bright-menu-line-color);
}

html.totamjung .redactor-statusbar {
    background-color: var(--secondary-menu-color);
}

html.totamjung .progress {
    background-color: black;
}

html.totamjung .progress-bar {
    background-color: var(--menu-line-color);
}

html.totamjung .alert {
    background-color: var(--menu-color);
    box-shadow: 0 0 13px var(--menu-color);
    border: none;
}

html.totamjung .alert {
    background-color: var(--menu-color);
    border: none;
}

html.totamjung .pagination > li > a {
    background-color: var(--menu-color);
    border: none;
    transition: 0.2s;
}

html.totamjung .pagination > li:hover > a {
    background-color: var(--tab-hover-color);
    border: none;
}

html.totamjung .pagination > li.active > a {
    background-color: var(--title-color);
    color: var(--menu-color);
}

html.totamjung .pagination > li > a:focus {
    color: var(--text-color);
}

html.totamjung .close {
    opacity: 1;
    color: var(--title-color);
    text-shadow: none;
    transition: 0.15s;
}

html.totamjung .close:hover {
    text-shadow: 0 0 7px var(--title-color);
}

html.totamjung .user-admin {
    text-shadow: 0 0 10px var(--text-color);
}

html.totamjung .coderTextRed {
    text-shadow: 0 0 10px var(--tc-red);
}

html.totamjung .coderTextYellow {
    text-shadow: 0 0 10px var(--tc-yellow);
}

html.totamjung .coderTextBlue {
    text-shadow: 0 0 10px var(--tc-blue);
}

html.totamjung .coderTextGreen {
    text-shadow: 0 0 10px var(--tc-green);
}

html.totamjung .coderTextGray {
    text-shadow: 0 0 10px var(--tc-gray);
}

html.totamjung .user-legendary,
html.totamjung .user-red {
    text-shadow: 0 0 10px var(--cf-red);
}

html.totamjung .user-orange {
    text-shadow: 0 0 10px var(--cf-orange);
}

html.totamjung .user-violet {
    text-shadow: 0 0 10px var(--cf-purple);
}

html.totamjung .user-blue {
    text-shadow: 0 0 10px var(--cf-blue);
}

html.totamjung .user-cyan {
    text-shadow: 0 0 10px var(--cf-mint);
}

html.totamjung .user-green {
    text-shadow: 0 0 10px var(--cf-green);
}

html.totamjung .user-gray {
    text-shadow: 0 0 10px var(--cf-gray);
}

html.totamjung .atcoder-red {
    text-shadow: 0 0 10px var(--at-red);
}

html.totamjung .atcoder-orange {
    text-shadow: 0 0 10px var(--at-orange);
}

html.totamjung .atcoder-yellow {
    text-shadow: 0 0 10px var(--at-yellow);
}

html.totamjung .atcoder-blue {
    text-shadow: 0 0 10px var(--at-blue);
}

html.totamjung .atcoder-cyan {
    text-shadow: 0 0 10px var(--at-mint);
}

html.totamjung .atcoder-green {
    text-shadow: 0 0 10px var(--at-green);
}

html.totamjung .atcoder-brown {
    text-shadow: 0 0 10px var(--at-brown);
}

html.totamjung .atcoder-gray {
    text-shadow: 0 0 10px var(--at-gray);
}

html.totamjung .thumbnail {
    background-color: var(--menu-color);
    border: none;
}

html.totamjung .thumbnail,
html.totamjung .thumbnail:hover {
    box-shadow: 0px 0px 15px var(--menu-color);
}

html.totamjung .hover-effect,
html.totamjung .hover-effect:hover {
    color: var(--title-color);
}

html.totamjung .hover-effect:hover {
    text-shadow: 0 0 13px var(--title-color);
}

html.totamjung .error-v1 span {
    color: var(--bright-menu-line-color);
}

html.totamjung .error-v1 span.error-v1-title {
    color: var(--title-color);
}

html.totamjung .funny-boxes {
    background-color: var(--menu-color);
}

html.totamjung .funny-boxes .btn-u:hover,
html.totamjung .funny-boxes .btn-u:active,
html.totamjung .funny-boxes .btn-u:focus,
html.totamjung form fieldset .btn-u:hover,
html.totamjung form fieldset .btn-u:active,
html.totamjung form fieldset .btn-u:focus {
    background-color: var(--menu-line-color);
}

html.totamjung .btn-success {
    background-color: var(--table-notice-color-light);
}

html.totamjung .btn-u-red,
html.totamjung .btn-u-red:hover,
html.totamjung .btn-u-red:focus,
html.totamjung .btn-u-red:active,
html.totamjung .btn-danger,
html.totamjung .btn-danger:hover,
html.totamjung .btn-danger:focus,
html.totamjung .btn-danger:active {
    background-color: var(--button-red);
}

html.totamjung .btn-u-dark,
html.totamjung .btn-u-dark:hover,
html.totamjung .btn-u-dark:focus,
html.totamjung .btn-u-dark:active {
    background-color: var(--button-dark);
}

html.totamjung .btn-u-dark-blue,
html.totamjung .btn-u-dark-blue:hover,
html.totamjung .btn-u-dark-blue:focus,
html.totamjung .btn-u-dark-blue:active {
    background-color: var(--button-darkblue);
}

html.totamjung .btn-u-light-green,
html.totamjung .btn-u-light-green:hover,
html.totamjung .btn-u-light-green:focus,
html.totamjung .btn-u-light-green:active {
    background-color: var(--button-mint);
}

html.totamjung .funny-boxes-top-sea {
    border-top-color: var(--link-color);
    box-shadow: 0 0 13px var(--menu-color);
}

html.totamjung .posts .dl-horizontal a,
html.totamjung .posts .dl-horizontal:hover a,
html.totamjung .posts .dl-horizontal a:hover {
    transition: 0.2s;
    color: var(--link-color);
}

html.totamjung .blog h2 a {
    color: var(--title-color);
    transition: 0.3s;
}

html.totamjung .blog h2 a:hover {
    text-shadow: 0 0 13px var(--title-color);
}

html.totamjung .blog-post-tags {
    border-color: var(--bright-menu-line-color);
}

html.totamjung .blog-content a {
    color: var(--link-color);
}

html.totamjung .list-group.sidebar-nav-v1 {
    box-shadow: 0 0 13px var(--menu-color);
}

html.totamjung .list-group {
    box-shadow: 0 0 13px var(--menu-color);
}

html.totamjung .list-group-item {
    border: none;
}

html.totamjung .list-group-item:nth-child(odd) {
    background-color: var(--menu-color);
}

html.totamjung .list-group-item:nth-child(even) {
    background-color: var(--secondary-menu-color);
}

html.totamjung .list-group.sidebar-nav-v1 > .list-group-item {
    border: none;
    transition: 0.2s;
}

html.totamjung .list-group.sidebar-nav-v1 > .list-group-item:nth-child(odd) {
    background-color: var(--menu-color);
}

html.totamjung .list-group.sidebar-nav-v1 > .list-group-item:nth-child(even) {
    background-color: var(--secondary-menu-color);
}

html.totamjung .list-group.sidebar-nav-v1 > .list-group-item.active {
    background-color: var(--title-color);
}

html.totamjung .list-group.sidebar-nav-v1 > .list-group-item.active > a {
    color: var(--menu-color);
}

html.totamjung .list-group.sidebar-nav-v1 > .list-group-item:hover {
    background-color: var(--tab-hover-color);
}

html.totamjung .ibox-content {
    background-color: var(--menu-color);
    border-top-color: var(--link-color);
}

html.totamjung .search-block-v2 {
    background: none;
    background-color: var(--secondary-menu-color);
    box-shadow: 0 0 20px var(--secondary-menu-color);
    border-bottom-color: var(--menu-line-color);
}

html.totamjung .related-search {
    border-bottom-color: var(--bright-menu-line-color);
    border-right-color: var(--bright-menu-line-color);
}

html.totamjung .footer-v3 .thumb-headline h2 {
    color: var(--title-color);
}

html.totamjung .footer-v3 .simple-list a {
    color: var(--link-color);
}

html.totamjung .tab-content {
    border: 3px solid var(--bright-menu-line-color);
    margin-top: -2px;
}

html.totamjung .chosen-container .chosen-container-single,
html.totamjung .chosen-drop {
    background: none;
    background-color: var(--menu-color) !important;
    color: var(--text-color);
}

html.totamjung::-webkit-scrollbar,
html.totamjung pre::-webkit-scrollbar,
html.totamjung::-webkit-scrollbar-track,
html.totamjung pre::-webkit-scrollbar-track,
html.totamjung::-webkit-scrollbar-thumb,
html.totamjung pre::-webkit-scrollbar-thumb {
    width: 12px;
}

html.totamjung::-webkit-scrollbar,
html.totamjung pre::-webkit-scrollbar,
html.totamjung::-webkit-scrollbar-track,
html.totamjung pre::-webkit-scrollbar-track {
    background-color: var(--secondary-menu-color);
}

html.totamjung::-webkit-scrollbar-thumb,
html.totamjung pre::-webkit-scrollbar-thumb {
    background-color: var(--bright-menu-line-color);
    border-radius: 10px;
}