html[totamjung='on'] p,
html[totamjung='on'] div,
html[totamjung='on'] li,
html[totamjung='on'] li a,
html[totamjung='on'] label,
html[totamjung='on'] pre:not(.CodeMirror-line) {
    color: var(--text-color);
}

html[totamjung='on'] a,
html[totamjung='on'] .btn-link {
    color: var(--link-color);
}

html[totamjung='on'] li a.highlight {
    color: var(--link-color) !important;
}

html[totamjung='on'] h1,
html[totamjung='on'] h2,
html[totamjung='on'] h3,
html[totamjung='on'] h4,
html[totamjung='on'] h5,
html[totamjung='on'] h6 {
    color: var(--title-color);
    font-weight: 600;
}

html[totamjung='on'] input,
html[totamjung='on'] select,
html[totamjung='on'] textarea {
    background-color: var(--menu-color) !important;
    border-color: var(--bright-menu-line-color) !important;
    color: var(--text-color) !important;
}

html[totamjung='on'] input[type='checkbox'],
html[totamjung='on'] input[type='radio'] {
    filter: invert(110%) hue-rotate(18deg) brightness(1.2);
}

html[totamjung='on'] kbd {
    background-color: black;
    border-color: var(--menu-line-color);
    color: black;
}

html[totamjung='on'] button[type='submit'],
html[totamjung='on'] button[type='submit']:hover,
html[totamjung='on'] button[type='submit']:focus,
html[totamjung='on'] button.btn.btn-primary,
html[totamjung='on'] button.btn.btn-lg,
html[totamjung='on'] button.navbar-toggle,
html[totamjung='on'] a.btn:not(.btn-link),
html[totamjung='on'] .btn.btn-default,
html[totamjung='on'] .btn-u {
    background-color: var(--menu-line-color);
    border: none;
    box-shadow: 0 0 13px var(--menu-color);
    color: var(--text-color);
}

html[totamjung='on'] .pace-progress {
    background: var(--title-color);
    box-shadow: 0 0 20px var(--title-color);
    transition: 0.1s;
}

html[totamjung='on'] .btn {
    border: none;
    box-shadow: 0 0 13px var(--menu-color);
}

html[totamjung='on'] .btn.btn-link.copy-button {
    box-shadow: none;
}

html[totamjung='on'] blockquote {
    background: var(--gradient-black);
    border-left-color: var(--title-color);
}

html[totamjung='on'] .datepicker {
    background-color: var(--menu-line-color);
}

html[totamjung='on'] .datepicker span:hover {
    background-color: var(--bright-menu-line-color);
}

html[totamjung='on'] .datepicker span.active {
    background: none !important;
    background-color: var(--bright-menu-line-color) !important;
}

html[totamjung='on'] .datepicker::after {
    border-bottom-color: var(--menu-line-color);
}


html[totamjung='on'] .sky-form .icon-append {
    color: var(--title-color);
}

html[totamjung='on'] .sky-form .inline-group>label {
    color: var(--text-color);
}

html[totamjung='on'] .sky-form .selectize-input {
    background-color: var(--menu-color);
    border: 3px solid var(--title-color);
}

html[totamjung='on'] .sky-form label>i {
    background-color: var(--title-color);
    box-shadow: 0 0 10px var(--title-color);
    border-color: var(--title-color);
}

html[totamjung='on'] .sky-form label>i::after {
    color: var(--menu-color);
}

html[totamjung='on'] .sky-form .label>.rounded-x::after {
    background-color: var(--menu-color);
    width: 8px !important;
    height: 8px !important;
    transform: translateX(-20%) translateY(-20%);
}

html[totamjung='on'] .sky-form footer {
    background-color: var(--secondary-menu-color);
    border-top: 1px solid var(--bright-menu-line-color);
}

html[totamjung='on'] .header .navbar-toggle:hover,
html[totamjung='on'] .header .navbar-toggle:focus {
    background: var(--menu-line-color) !important;
}

html[totamjung='on'] input:disabled {
    background-color: var(--disabled-menu-color);
    color: var(--text-color);
}

html[totamjung='on'] input:focus,
html[totamjung='on'] select:focus {
    border-color: var(--title-color);
    box-shadow: 0 0 6px var(--title-color);
}

html[totamjung='on'] form {
    border: none;
}

html[totamjung='on'] form fieldset {
    background-color: var(--menu-color);
}

html[totamjung='on'] hr,
html[totamjung='on'] legend {
    border-color: var(--bright-menu-line-color);
}

html[totamjung='on'] legend {
    color: var(--title-color);
    font-weight: 600;
}

html[totamjung='on'] .wrapper {
    background-size: 100px 150px;
    background-attachment: fixed;
    background-color: var(--bg-first-color);
    background-image:
        linear-gradient(56.4deg,
            var(--bg-second-color) 25%,
            transparent 25%,
            transparent 75%,
            var(--bg-second-color) 75%),
        linear-gradient(-56.4deg,
            var(--bg-second-color) 25%,
            transparent 25%,
            transparent 75%,
            var(--bg-second-color) 75%);
}

html[totamjung='on'] .header,
html[totamjung='on'] .footer {
    background-color: var(--menu-color);
}

html[totamjung='on'] .header {
    border-bottom-color: var(--menu-line-color);
    box-shadow: 0px 10px 20px var(--menu-color);
}

html[totamjung='on'] .footer {
    border-bottom: 0px;
    border-top-color: var(--menu-line-color);
    box-shadow: 10px 0px 30px var(--menu-color);
}

html[totamjung='on'] .mega-menu-content {
    border-top-color: var(--menu-link-color);
}

html[totamjung='on'] .mega-menu-content>.container>.row.equal-height {
    border-top: 2px solid var(--link-color);
}

html[totamjung='on'] .mega-menu-content .equal-height-in:nth-child(odd) {
    border: none;
    background-color: var(--menu-color);
}

html[totamjung='on'] .mega-menu-content .equal-height-in:nth-child(even) {
    border: none;
    background-color: var(--secondary-menu-color);
}

html[totamjung='on'] .mega-menu-content .equal-height-in a:hover {
    background-color: var(--menu-line-color) !important;
}

html[totamjung='on'] ul.dropdown-menu {
    border: none;
    background-color: var(--menu-color);
}

html[totamjung='on'] .dropdown-menu .divider {
    background-color: var(--menu-line-color);
}

html[totamjung='on'] .dropdown-menu>li {
    box-shadow: 0 0 13px var(--menu-color);
}

html[totamjung='on'] .dropdown-menu>li>a {
    transition: 0.2s;
}

html[totamjung='on'] .dropdown-menu>li>a:hover,
html[totamjung='on'] .dropdown-menu>li>a:focus {
    color: var(--menu-color);
    text-decoration: none;
    background-color: var(--title-color);
}

html[totamjung='on'] .header .dropdown-menu li a {
    background-color: transparent;
    color: var(--link-color);
}

html[totamjung='on'] .nav.navbar-nav>li>a {
    transition: 0.3s;
}

html[totamjung='on'] .nav.navbar-nav>li.active>a,
html[totamjung='on'] .nav.navbar-nav li:hover>a {
    color: var(--title-color);
    border-bottom-color: var(--link-color);
}

@media (max-width: 991px) {
    html[totamjung='on'] .header .navbar-default .navbar-nav>.active>a {
        background-color: var(--menu-line-color);
        color: var(--menu-color);
    }
}

html[totamjung='on'] .page-header {
    border-bottom-color: var(--bright-menu-line-color);
}

html[totamjung='on'] .panel {
    border: none;
    box-shadow: 0 0 13px var(--menu-color);
}

html[totamjung='on'] .panel-heading {
    background-color: black;
    border-bottom-color: var(--menu-line-color);
}

html[totamjung='on'] .panel-body {
    background-color: var(--menu-color);
}

html[totamjung='on'] .panel-body>.content>pre {
    background-color: black;
    border: 1px solid var(--menu-line-color);
}

html[totamjung='on'] .nav-pills>li>a {
    transition: 0.2s;
}

html[totamjung='on'] .nav-pills>li.active>a {
    background-color: var(--title-color);
    box-shadow: 0 0 13px var(--menu-color);
    color: var(--menu-color);
}

html[totamjung='on'] .nav-pills>li>a:hover,
html[totamjung='on'] .nav-pills>li>a:focus,
html[totamjung='on'] .nav-pills>li>a:active {
    background-color: var(--tab-hover-color) !important;
}

html[totamjung='on'] pre:not(.CodeMirror-line) {
    background-color: var(--menu-color);
    border-color: var(--menu-color);
    box-shadow: 0px 0px 5px var(--menu-color);
}

html[totamjung='on'] .CodeMirror {
    box-shadow: 0 0 14px var(--menu-color);
}

html[totamjung='on'] pre.CodeMirror-line {
    box-shadow: none;
}

html[totamjung='on'] .breadcrumbs {
    background-image: none;
    background-color: var(--secondary-menu-color);
    box-shadow: 0px 5px 10px var(--secondary-menu-color);
    border-bottom-color: var(--menu-line-color);
}

html[totamjung='on'] #logo-header {
    filter: invert(6%) sepia(85%) saturate(500%) hue-rotate(331deg) brightness(200%) contrast(100%);
}

html[totamjung='on'] .parallax-counter-v1 {
    filter: invert(6%) sepia(14%) saturate(500%) hue-rotate(331deg) brightness(70%) contrast(100%);
}

html[totamjung='on'] .headline {
    border-bottom-color: var(--bright-menu-line-color);
}

html[totamjung='on'] .headline h2,
html[totamjung='on'] .headline h3,
html[totamjung='on'] .headline h4 {
    border-bottom: 3px solid var(--title-color);
}

html[totamjung='on'] .blog-twitter-inner {
    background-color: var(--menu-color);
}

html[totamjung='on'] .blog-twitter-inner a:nth-child(2) {
    color: var(--link-color);
}

html[totamjung='on'] .blog-twitter-inner a:nth-child(3) {
    color: var(--text-color);
}

html[totamjung='on'] .blog-twitter-inner::before {
    border-bottom-color: var(--secondary-menu-color);
}

html[totamjung='on'] .blog-twitter-inner::after {
    border-top-color: var(--title-color);
}

html[totamjung='on'] .blog-twitter-inner:hover::before {
    border-bottom: 25px solid var(--secondary-menu-color);
    border-left: 25px solid transparent;
}

html[totamjung='on'] .blog-twitter-inner:hover::after {
    border-top-color: var(--title-color);
    border-top: 25px solid var(--title-color);
    border-right: 25px solid transparent;
}

html[totamjung='on'] .result-ac {
    color: rgb(0, 152, 116);
}

html[totamjung='on'] .result-pac {
    color: rgb(239, 192, 80);
}

html[totamjung='on'] .result-wa {
    color: rgb(221, 65, 36);
}

html[totamjung='on'] #favorite_button,
html[totamjung='on'] #lang-select-button,
html[totamjung='on'] #like-button,
html[totamjung='on'] #unlike-button {
    background-color: var(--menu-color);
    color: var(--text-color);
    border: none;
}

html[totamjung='on'] #favorite_button[data-favorite='1'] {
    color: var(--title-color);
}

html[totamjung='on'] #like-button.btn-primary {
    color: var(--glyphicon-like-color);
}

html[totamjung='on'] #unlike-button.btn-danger {
    color: var(--glyphicon-unlike-color);
}

html[totamjung='on'] .table.table-hover>tbody>tr:hover>td,
html[totamjung='on'] .table.table-hover>tbody>tr:hover>th {
    background-color: transparent !important;
}

html[totamjung='on'] .table-hover th,
html[totamjung='on'] .table-hover td {
    border-top-color: var(--bright-menu-line-color);
}

html[totamjung='on'] .tab-v2 .nav-tabs {
    background-color: transparent;
}

html[totamjung='on'] .tab-v2 .nav-tabs li.active a {
    background-color: var(--bright-menu-line-color);
    border: none;
    color: var(--text-color);
}

html[totamjung='on'] .table-striped>thead>tr,
html[totamjung='on'] .table-bordered>thead>tr {
    background-color: black;
}

html[totamjung='on'] .table-striped,
html[totamjung='on'] .table-striped th,
html[totamjung='on'] .table-striped tr,
html[totamjung='on'] .table-striped td,
html[totamjung='on'] .table-bordered,
html[totamjung='on'] .table-bordered th,
html[totamjung='on'] .table-bordered tr,
html[totamjung='on'] .table-bordered td {
    border: none;
}

html[totamjung='on'] .table-striped,
html[totamjung='on'] .table-bordered {
    box-shadow: 0 0 15px var(--menu-color);
}

html[totamjung='on'] .table-striped>tbody>tr:nth-child(odd)>td,
html[totamjung='on'] .table-striped>tbody>tr:nth-child(odd)>th,
html[totamjung='on'] .table-bordered>tbody>tr:nth-child(odd)>td,
html[totamjung='on'] .table-bordered>tbody>tr:nth-child(odd)>th {
    background-color: var(--menu-color);
}

html[totamjung='on'] .table-striped>tbody>tr:nth-child(even)>td,
html[totamjung='on'] .table-striped>tbody>tr:nth-child(even)>th,
html[totamjung='on'] .table-bordered>tbody>tr:nth-child(even)>td,
html[totamjung='on'] .table-bordered>tbody>tr:nth-child(even)>th {
    background-color: var(--secondary-menu-color);
}

html[totamjung='on'] .table-striped>tbody>tr.success:nth-of-type(odd)>td,
html[totamjung='on'] .table-striped>tbody>tr.success:nth-of-type(odd)>th {
    background-color: var(--table-notice-color-dark);
}

html[totamjung='on'] .table-striped>tbody>tr.success:nth-of-type(even)>td,
html[totamjung='on'] .table-striped>tbody>tr.success:nth-of-type(even)>th {
    background-color: var(--table-notice-color-light);
}

html[totamjung='on'] .table-striped>tbody>tr.info:nth-of-type(odd)>td,
html[totamjung='on'] .table-striped>tbody>tr.info:nth-of-type(odd)>th {
    background-color: var(--table-contest-color-dark);
}

html[totamjung='on'] .table-striped>tbody>tr.info:nth-of-type(even)>td,
html[totamjung='on'] .table-striped>tbody>tr.info:nth-of-type(even)>th {
    background-color: var(--table-contest-color-light);
}

html[totamjung='on'] .table-condensed th,
html[totamjung='on'] .table-condensed td {
    border-color: var(--bright-menu-line-color);
}

html[totamjung='on'] .table-condensed th {
    color: var(--title-color);
}


@media screen and (max-width: 767px) {
    html[totamjung='on'] .table-responsive {
        border: none;
        box-shadow: 0 0 13px var(--menu-color);
    }
}

html[totamjung='on'] .table-responsive #problem-info thead {
    color: var(--title-color);
    border-bottom-color: var(--bright-menu-line-color);
}

html[totamjung='on'] .table-responsive #problem-info * {
    border-top-color: var(--bright-menu-line-color);
}

html[totamjung='on'] #contest_scoreboard tr>th:nth-child(2)>a,
html[totamjung='on'] #contest_scoreboard tr:nth-child(1)>th:nth-child(n+2)>a {
    color: var(--link-color);
}

html[totamjung='on'] #contest_scoreboard tr>td.accepted {
    color: var(--table-ac-text-color);
}

html[totamjung='on'] #contest_scoreboard tr:nth-child(odd)>td.accepted {
    background-color: var(--table-ac-color) !important;
    font-weight: 800;
}

html[totamjung='on'] #contest_scoreboard tr:nth-child(even)>td.accepted {
    background-color: var(--table-ac-secondary-color) !important;
    font-weight: 800;
}

html[totamjung='on'] #contest_scoreboard tr>td.wronganswer {
    color: var(--table-wa-text-color);
}

html[totamjung='on'] #contest_scoreboard tr:nth-child(odd)>td.wronganswer {
    background-color: var(--table-wa-color) !important;
}

html[totamjung='on'] #contest_scoreboard tr:nth-child(even)>td.wronganswer {
    background-color: var(--table-wa-secondary-color) !important;
}

html[totamjung='on'] #problem-memo-edit {
    box-shadow: 0 0 14px var(--menu-color);
    margin-bottom: 20px;
}

html[totamjung='on'] #problem-memo-edit div {
    box-shadow: none;
}

html[totamjung='on'] .editor-toolbar,
html[totamjung='on'] .redactor-toolbar,
html[totamjung='on'] .editor-statusbar {
    background-color: var(--secondary-menu-color);
    opacity: 1;
    border: none;
}

html[totamjung='on'] .cm-s-default.CodeMirror,
html[totamjung='on'] .cm-s-paper.CodeMirror {
    background: var(--menu-color);
    border-color: var(--menu-color);
}

html[totamjung='on'] .cm-s-paper.CodeMirror-fullscreen {
    z-index: 1000000;
}

html[totamjung='on'] .editor-toolbar.fullscreen::before,
html[totamjung='on'] .editor-toolbar.fullscreen::after {
    background: none;
}

html[totamjung='on'] .editor-toolbar a {
    color: var(--title-color) !important;
    transition: 0.2s;
}

html[totamjung='on'] .editor-toolbar a:hover,
html[totamjung='on'] .editor-toolbar a.active {
    background-color: var(--menu-line-color) !important;
    border-color: var(--menu-line-color);
}

html[totamjung='on'] .editor-toolbar.disabled-for-preview .fa:not(.no-disable) {
    background-color: transparent;
    opacity: 0.5;
}

html[totamjung='on'] .editor-toolbar i.separator {
    border-left-width: 0;
    border-right-color: var(--bright-menu-line-color);
}

html[totamjung='on'] .cm-s-paper.CodeMirror .CodeMirror-line>span {
    color: var(--text-color);
}

html[totamjung='on'] .editor-preview {
    background-color: var(--menu-color);
}

html[totamjung='on'] .editor-preview-side {
    background-color: var(--menu-line-color);
    border: var(--menu-line-color);
}

html[totamjung='on'] .CodeMirror-selected {
    background-color: var(--menu-color);
}

html[totamjung='on'] .CodeMirror-selectedtext {
    background-color: var(--menu-line-color);
    border-color: var(--menu-line-color);
}

html[totamjung='on'] .redactor-box.redactor-styles-on {
    background-color: var(--menu-color);
    box-shadow: 0 0 13px var(--menu-color);
}

html[totamjung='on'] .redactor-focus.redactor-styles-on,
html[totamjung='on'] .redactor-focus:focus.redactor-styles-on {
    border-color: var(--menu-color) !important;
}

html[totamjung='on'] .redactor-toolbar .re-button:nth-child(odd) {
    background-color: var(--menu-line-color);
}

html[totamjung='on'] .redactor-toolbar .re-button:nth-child(even) {
    background-color: var(--bright-menu-line-color);
}

html[totamjung='on'] .redactor-statusbar {
    background-color: var(--secondary-menu-color);
}

html[totamjung='on'] .redactor-styles pre {
    background-color: black;
    border-color: var(--bright-menu-line-color);
}

html[totamjung='on'] .redactor-dropdown a {
    background-color: var(--secondary-menu-color);
    border-bottom: 1px solid var(--menu-line-color);
    transition: 0.2s;
}

html[totamjung='on'] .redactor-dropdown a:hover {
    background-color: var(--menu-line-color) !important;
}

html[totamjung='on'] .redactor-dropdown-item-disabled span {
    color: var(--blurred-link-color);
}

html[totamjung='on'] .redactor-source-view {
    background-color: black !important;
}

html[totamjung='on'] .redactor-styles code {
    background-color: var(--menu-line-color);
}

html[totamjung='on'] .redactor-dropdown-item-p span,
html[totamjung='on'] .redactor-dropdown-item-pre span {
    color: var(--text-color);
}

html[totamjung='on'] .redactor-dropdown-item-h1,
html[totamjung='on'] .redactor-dropdown-item-h2,
html[totamjung='on'] .redactor-dropdown-item-h3,
html[totamjung='on'] .redactor-dropdown-item-h4,
html[totamjung='on'] .redactor-dropdown-item-h5,
html[totamjung='on'] .redactor-dropdown-item-h6 {
    color: var(--title-color);
}

html[totamjung='on'] .redactor-dropdown-item-blockquote {
    background-color: var(--bright-menu-line-color);
}

html[totamjung='on'] .redactor-styles mark,
html[totamjung='on'] .redactor-dropdown-item-marked span {
    background-color: var(--menu-line-color);
    color: var(--text-color);
}

html[totamjung='on'] .redactor-dropdown-item-variable span {
    color: var(--text-color);
}

html[totamjung='on'] .redactor-dropdown-item-shortcut span {
    background-color: black;
    border-color: var(--menu-line-color);
}


html[totamjung='on'] .redactor-dropdown-item-blockquote span,
html[totamjung='on'] .redactor-styles blockquote {
    background-color: transparent;
    color: var(--link-color);
}

html[totamjung='on'] .redactor-styles td {
    border: solid var(--menu-line-color);
}

html[totamjung='on'] .progress {
    background-color: black;
}

html[totamjung='on'] .progress-bar {
    background-color: var(--menu-line-color);
}

html[totamjung='on'] .alert {
    background-color: var(--menu-color);
    box-shadow: 0 0 13px var(--menu-color);
    border: none;
}

html[totamjung='on'] .alert {
    background-color: var(--menu-color);
    border: none;
}

html[totamjung='on'] .pagination>li>a {
    background-color: var(--menu-color);
    border: none;
    transition: 0.2s;
}

html[totamjung='on'] .pagination>li:hover>a {
    background-color: var(--tab-hover-color);
    border: none;
}

html[totamjung='on'] .pagination>li.active>a {
    background-color: var(--title-color);
    color: var(--menu-color);
}

html[totamjung='on'] .pagination>li>a:focus {
    color: var(--text-color);
}

html[totamjung='on'] .close {
    opacity: 1;
    color: var(--title-color);
    text-shadow: none;
    transition: 0.15s;
}

html[totamjung='on'] .close:hover {
    text-shadow: 0 0 7px var(--title-color);
}

html[totamjung='on'] .coderTextRed {
    text-shadow: 0 0 10px var(--tc-red);
}

html[totamjung='on'] .coderTextYellow {
    text-shadow: 0 0 10px var(--tc-yellow);
}

html[totamjung='on'] .coderTextBlue {
    text-shadow: 0 0 10px var(--tc-blue);
}

html[totamjung='on'] .coderTextGreen {
    text-shadow: 0 0 10px var(--tc-green);
}

html[totamjung='on'] .coderTextGray {
    text-shadow: 0 0 10px var(--tc-gray);
}

html[totamjung='on'] .user-admin {
    text-shadow: 0 0 10px var(--cf-admin);
}

html[totamjung='on'] .user-legendary,
html[totamjung='on'] .user-red {
    text-shadow: 0 0 10px var(--cf-red);
}

html[totamjung='on'] .user-admin {
    color: var(--cf-admin) !important;
}

html[totamjung='on'] .user-legendary-first-letter {
    color: var(--cf-legendary) !important;
}

html[totamjung='on'] .user-orange {
    text-shadow: 0 0 10px var(--cf-orange);
}

html[totamjung='on'] .user-violet {
    text-shadow: 0 0 10px var(--cf-purple);
}

html[totamjung='on'] .user-blue {
    text-shadow: 0 0 10px var(--cf-blue);
}

html[totamjung='on'] .user-cyan {
    text-shadow: 0 0 10px var(--cf-mint);
}

html[totamjung='on'] .user-green {
    text-shadow: 0 0 10px var(--cf-green);
}

html[totamjung='on'] .user-gray {
    text-shadow: 0 0 10px var(--cf-gray);
}

html[totamjung='on'] .atcoder-red {
    text-shadow: 0 0 10px var(--at-red);
}

html[totamjung='on'] .atcoder-orange {
    text-shadow: 0 0 10px var(--at-orange);
}

html[totamjung='on'] .atcoder-yellow {
    text-shadow: 0 0 10px var(--at-yellow);
}

html[totamjung='on'] .atcoder-blue {
    text-shadow: 0 0 10px var(--at-blue);
}

html[totamjung='on'] .atcoder-cyan {
    text-shadow: 0 0 10px var(--at-mint);
}

html[totamjung='on'] .atcoder-green {
    text-shadow: 0 0 10px var(--at-green);
}

html[totamjung='on'] .atcoder-brown {
    text-shadow: 0 0 10px var(--at-brown);
}

html[totamjung='on'] .atcoder-gray {
    text-shadow: 0 0 10px var(--at-gray);
}

html[totamjung='on'] .thumbnail {
    background-color: var(--menu-color);
    border: none;
}

html[totamjung='on'] .thumbnail,
html[totamjung='on'] .thumbnail:hover {
    box-shadow: 0px 0px 15px var(--menu-color);
}

html[totamjung='on'] .hover-effect,
html[totamjung='on'] .hover-effect:hover {
    color: var(--title-color);
}

html[totamjung='on'] .hover-effect:hover {
    text-shadow: 0 0 13px var(--title-color);
}

html[totamjung='on'] .error-v1 span {
    color: var(--bright-menu-line-color);
}

html[totamjung='on'] .error-v1 span.error-v1-title {
    color: var(--title-color);
}

html[totamjung='on'] .funny-boxes {
    background-color: var(--menu-color);
}

html[totamjung='on'] .funny-boxes .btn-u:hover,
html[totamjung='on'] .funny-boxes .btn-u:active,
html[totamjung='on'] .funny-boxes .btn-u:focus,
html[totamjung='on'] form fieldset .btn-u:hover,
html[totamjung='on'] form fieldset .btn-u:active,
html[totamjung='on'] form fieldset .btn-u:focus {
    background-color: var(--menu-line-color);
}

html[totamjung='on'] .btn-success {
    background-color: var(--table-notice-color-light);
}

html[totamjung='on'] .btn-u-red,
html[totamjung='on'] .btn-u-red:hover,
html[totamjung='on'] .btn-u-red:focus,
html[totamjung='on'] .btn-u-red:active,
html[totamjung='on'] .btn-danger,
html[totamjung='on'] .btn-danger:hover,
html[totamjung='on'] .btn-danger:focus,
html[totamjung='on'] .btn-danger:active {
    background-color: var(--button-red);
}

html[totamjung='on'] .btn-u-dark,
html[totamjung='on'] .btn-u-dark:hover,
html[totamjung='on'] .btn-u-dark:focus,
html[totamjung='on'] .btn-u-dark:active {
    background-color: var(--button-dark);
}

html[totamjung='on'] .btn-u-dark-blue,
html[totamjung='on'] .btn-u-dark-blue:hover,
html[totamjung='on'] .btn-u-dark-blue:focus,
html[totamjung='on'] .btn-u-dark-blue:active {
    background-color: var(--button-darkblue);
}

html[totamjung='on'] .btn-u-light-green,
html[totamjung='on'] .btn-u-light-green:hover,
html[totamjung='on'] .btn-u-light-green:focus,
html[totamjung='on'] .btn-u-light-green:active {
    background-color: var(--button-mint);
}

html[totamjung='on'] .funny-boxes-top-sea {
    border-top-color: var(--link-color);
    box-shadow: 0 0 13px var(--menu-color);
}

html[totamjung='on'] .posts .dl-horizontal a,
html[totamjung='on'] .posts .dl-horizontal:hover a,
html[totamjung='on'] .posts .dl-horizontal a:hover {
    transition: 0.2s;
    color: var(--link-color);
}

html[totamjung='on'] .blog h2 a {
    color: var(--title-color);
    transition: 0.3s;
}

html[totamjung='on'] .blog h2 a:hover {
    text-shadow: 0 0 13px var(--title-color);
}

html[totamjung='on'] .blog-post-tags {
    border-color: var(--bright-menu-line-color);
}

html[totamjung='on'] .blog-content a {
    color: var(--link-color);
}

html[totamjung='on'] code.hljs {
    color: var(--text-color);
}

html[totamjung='on'] ul.tagit {
    background: var(--menu-color);
    box-shadow: 0 0 14px var(--menu-color);
}

html[totamjung='on'] ul.tagit li.tagit-choice,
html[totamjung='on'] .ui-widget-content {
    background: var(--secondary-menu-color);
    background-color: var(--secondary-menu-color);
    border-color: var(--menu-line-color);
}

html[totamjung='on'] ul.tagit li.tagit-choice .tagit-label {
    color: var(--link-color);
}

html[totamjung='on'] .list-group.sidebar-nav-v1 {
    box-shadow: 0 0 13px var(--menu-color);
}

html[totamjung='on'] .list-group {
    box-shadow: 0 0 13px var(--menu-color);
}

html[totamjung='on'] .list-group-item {
    border: none;
}

html[totamjung='on'] .list-group-item:nth-child(odd) {
    background-color: var(--menu-color);
}

html[totamjung='on'] .list-group-item:nth-child(even) {
    background-color: var(--secondary-menu-color);
}

html[totamjung='on'] .list-group.sidebar-nav-v1>.list-group-item {
    border: none;
    transition: 0.2s;
}

html[totamjung='on'] .list-group.sidebar-nav-v1>.list-group-item:nth-child(odd) {
    background-color: var(--menu-color);
}

html[totamjung='on'] .list-group.sidebar-nav-v1>.list-group-item:nth-child(even) {
    background-color: var(--secondary-menu-color);
}

html[totamjung='on'] .list-group.sidebar-nav-v1>.list-group-item.active {
    background-color: var(--title-color);
}

html[totamjung='on'] .list-group.sidebar-nav-v1>.list-group-item.active>a {
    color: var(--menu-color);
}

html[totamjung='on'] .list-group.sidebar-nav-v1>.list-group-item:hover {
    background-color: var(--tab-hover-color);
}

html[totamjung='on'] .ibox-content {
    background-color: var(--menu-color);
    border-top-color: var(--link-color);
}

html[totamjung='on'] .s-results .inner-results h3 a,
html[totamjung='on'] .s-results .related-search h3 {
    color: var(--title-color);
}

html[totamjung='on'] .s-results .down-ul li a,
html[totamjung='on'] .s-results .related-search li a {
    color: var(--link-color);
}

html[totamjung='on'] .search-block-v2 {
    background: none;
    background-color: var(--secondary-menu-color);
    box-shadow: 0 0 20px var(--secondary-menu-color);
    border-bottom-color: var(--menu-line-color);
}

html[totamjung='on'] .related-search {
    border-bottom-color: var(--bright-menu-line-color);
    border-right-color: var(--bright-menu-line-color);
}

html[totamjung='on'] .footer-v3 .thumb-headline h2 {
    color: var(--title-color);
}

html[totamjung='on'] .footer-v3 .simple-list a {
    color: var(--link-color);
}

html[totamjung='on'] .tab-content {
    border: 3px solid var(--bright-menu-line-color);
    margin-top: -2px;
}

html[totamjung='on'] .chosen-container .chosen-container-single,
html[totamjung='on'] .chosen-drop {
    background: none;
    background-color: var(--menu-color) !important;
    color: var(--text-color);
}

html[totamjung='on']::-webkit-scrollbar,
html[totamjung='on'] pre::-webkit-scrollbar,
html[totamjung='on']::-webkit-scrollbar-track,
html[totamjung='on'] pre::-webkit-scrollbar-track,
html[totamjung='on']::-webkit-scrollbar-thumb,
html[totamjung='on'] pre::-webkit-scrollbar-thumb,
html[totamjung='on'] .table-responsive::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

html[totamjung='on']::-webkit-scrollbar,
html[totamjung='on'] pre::-webkit-scrollbar,
html[totamjung='on']::-webkit-scrollbar-track,
html[totamjung='on'] pre::-webkit-scrollbar-track,
html[totamjung='on'] .table-responsive::-webkit-scrollbar-track {
    background-color: var(--secondary-menu-color);
}

html[totamjung='on']::-webkit-scrollbar-thumb,
html[totamjung='on'] pre::-webkit-scrollbar-thumb,
html[totamjung='on'] .table-responsive::-webkit-scrollbar-thumb {
    background-color: var(--bright-menu-line-color);
    border-radius: 10px;
}

html[totamjung='on'] .chosen-container-single .chosen-single {
    background: var(--menu-color);
    color: var(--text-color);
    border: none;
    box-shadow: 0 0 5px var(--menu-color);
}

html[totamjung='on'] .active-result.result-selected.highlighted,
html[totamjung='on'] .chosen-container .chosen-results html[totamjung='on'] .active-result.group-option.highlighted {
    background: var(--menu-line-color);
}

html[totamjung='on'] .reg-page {
    background-color: var(--menu-color);
    box-shadow: 0 0 14px var(--menu-color);
}

html[totamjung='on'] .reg-header {
    border-bottom-color: var(--bright-menu-line-color);
}

html[totamjung='on'] span.input-group-addon {
    background-color: transparent;
    border-color: transparent;
}

html[totamjung='on'] span.input-group-addon i {
    color: var(--title-color);
}

html[totamjung='on'] span.solvedac-tier-name-0:after,
html[totamjung='on'] span.solvedac-tier-name--1:after {
    color: var(--text-color);
}

html[totamjung='on'] .uploadcare--dialog div {
    color: black;
}

html[totamjung='on'] .CodeMirror-line>span {
    color: black;
}

html[totamjung='on'] .CodeMirror-cursor {
    border-left: 1px solid var(--text-color);
}

/* Temp: Group CSS */
html[totamjung='on'] .toastui-editor-defaultUI {
    background-color: var(--menu-color);
    border: 1px transparent;
    box-shadow: 0 0 14px var(--menu-color);
}

html[totamjung='on'] .toastui-editor-defaultUI input:focus {
    outline: none;
}

html[totamjung='on'] .toastui-editor-md-tab-container,
html[totamjung='on'] .toastui-editor-defaultUI-toolbar {
    background-color: var(--secondary-menu-color);
    border-bottom-color: var(--menu-line-color);
}

html[totamjung='on'] .toastui-editor-md-tab-container>.toastui-editor-tabs .tab-item {
    margin-top: 12px;
    background-color: transparent;
    border: none;
    border: 0 0 1px 0 solid var(--menu-line-color);
    color: var(--blurred-link-color);
}

html[totamjung='on'] .tab-item:nth-child(2) {
    margin-left: 1px;
}

html[totamjung='on'] .toastui-editor-md-tab-container>.toastui-editor-tabs .tab-item.active {
    background-color: var(--menu-color);
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: var(--menu-line-color);
    color: var(--title-color);
}

html[totamjung='on'] .toastui-editor-toolbar-icons {
    border: none;
    opacity: 0.4;
    transition: opacity 0.2s;
}

html[totamjung='on'] .toastui-editor-defaultUI-toolbar button:not(:disabled):hover {
    background-color: transparent;
    border: none;
    opacity: 1;
}

html[totamjung='on'] .toastui-editor-toolbar-icons {
    filter: var(--filter-gold);
}

html[totamjung='on'] .toastui-editor-popup {
    background: none;
    border-color: var(--menu-line-color);
}

html[totamjung='on'] .toastui-editor-popup-body {
    z-index: 10;
}

html[totamjung='on'] .toastui-editor-popup-body ul {
    padding: 0;
}

html[totamjung='on'] .toastui-editor-popup-body li {
    background-color: var(--secondary-menu-color);
    border-bottom: 1px solid var(--menu-line-color);
}

html[totamjung='on'] .toastui-editor-popup-body li:hover {
    background-color: var(--menu-line-color);
}

html[totamjung='on'] .toastui-editor-toolbar-divider {
    background-color: var(--menu-line-color);
}

html[totamjung='on'] .toastui-editor-popup-body,
html[totamjung='on'] .toastui-editor-dropdown-toolbar {
    top: 44px !important;
    background-color: var(--secondary-menu-color);
    border-width: 0 1px 1px 1px;
    border-color: var(--menu-line-color);
}

html[totamjung='on'] .toastui-editor-mode-switch {
    background-color: var(--secondary-menu-color);
    border-top-color: var(--menu-line-color);
}

html[totamjung='on'] .toastui-editor-mode-switch>.tab-item {
    background-color: var(--secondary-menu-color);
    border-color: var(--menu-line-color) transparent transparent transparent;
    color: var(--blurred-link-color);
}

html[totamjung='on'] .toastui-editor-mode-switch>.tab-item.active {
    background-color: var(--menu-color);
    border-color: transparent var(--menu-line-color) var(--menu-line-color) var(--menu-line-color);
    color: var(--title-color);
}

html[totamjung='on'] .toastui-editor-md-code-block-line-background {
    background-color: transparent;
}

html[totamjung='on'] .toastui-editor-md-link.toastui-editor-md-link-desc.toastui-editor-md-marked-text,
html[totamjung='on'] .toastui-editor-md-list-item-style.toastui-editor-md-list-item-odd {
    color: var(--title-color);
}

html[totamjung='on'] .ProseMirror.toastui-editor-contents {
    background-color: var(--menu-color);
}

html[totamjung='on'] .toastui-editor-contents h1,
html[totamjung='on'] .toastui-editor-contents h2,
html[totamjung='on'] .toastui-editor-contents h3,
html[totamjung='on'] .toastui-editor-contents h4,
html[totamjung='on'] .toastui-editor-contents h5,
html[totamjung='on'] .toastui-editor-contents h6 {
    border-bottom-color: var(--bright-menu-line-color);
}

html[totamjung='on'] .toastui-editor-popup-add-table .toastui-editor-table-cell {
    background-color: var(--disabled-menu-color);
    border-color: var(--title-color);
}

html[totamjung='on'] .toastui-editor-table-selection-layer {
    margin: 0px 0 0 0px;
    border-color: var(--title-color);
    background-color: var(--blurred-link-color);
    box-shadow: 0 0 5px var(--title-color);
    opacity: 0.5;
}

html[totamjung='on'] .toastui-editor-popup.toastui-editor-popup-add-image,
html[totamjung='on'] .toastui-editor-popup.toastui-editor-popup-add-link {
    background-color: var(--secondary-menu-color);
}

html[totamjung='on'] .toastui-editor-table-description {
    color: var(--link-color);
}

html[totamjung='on'] .toastui-editor-tabs[aria-role='tabpanel'] .tab-item {
    border-bottom-color: var(--blurred-link-color);
    color: var(--blurred-link-color);
}

html[totamjung='on'] .toastui-editor-tabs[aria-role='tabpanel'] .tab-item.active {
    border-bottom-color: var(--title-color);
    color: var(--title-color);
}

html[totamjung='on'] .toastui-editor-file-name,
html[totamjung='on'] .toastui-editor-file-name.has-file {
    background-color: black;
    border-color: var(--bright-menu-line-color);
    color: var(--text-color);
}

html[totamjung='on'] .toastui-editor-file-select-button,
html[totamjung='on'] .toastui-editor-close-button,
html[totamjung='on'] .toastui-editor-ok-button {
    background-color: var(--menu-line-color);
    border-color: var(--menu-line-color);
    border-width: 1px !important;
    box-shadow: 0 0 14px var(--menu-color);
    color: var(--text-color);
    transition: 0.2s;
}

html[totamjung='on'] .toastui-editor-file-select-button:hover,
html[totamjung='on'] .toastui-editor-close-button:hover,
html[totamjung='on'] .toastui-editor-ok-button:hover {
    background-color: var(--menu-line-color);
    border-color: var(--menu-line-color);
}

/* End of Group CSS */

html[totamjung='on'] .uploadcare--widget__button.uploadcare--widget__button_type_open {
    background-color: var(--menu-line-color);
    cursor: pointer;
    box-shadow: 0 0 14px var(--menu-color);
}

html[totamjung='on'] .cm-s-the-matrix.CodeMirror .CodeMirror-line>span {
    color: #0f0;
}

html[totamjung='on'] .cm-s-solarized.cm-s-light.CodeMirror .CodeMirror-line>span {
    color: #657b83;
}

html[totamjung='on'] .cm-s-solarized.cm-s-dark.CodeMirror .CodeMirror-line>span {
    color: #839496;
}

html[totamjung='on'] .cm-s-mdn-like.CodeMirror .CodeMirror-line>span {
    color: #999;
}

html[totamjung='on'] .cm-s-icecoder.CodeMirror .CodeMirror-line>span {
    color: #666;
}

html[totamjung='on'] .cm-s-duotone-dark.CodeMirror .CodeMirror-line>span {
    color: #6c6783;
}

html[totamjung='on'] .cm-s-bespin.CodeMirror .CodeMirror-line>span {
    color: #9d9b97;
}

html[totamjung='on'] .cm-s-pastel-on-dark.CodeMirror .CodeMirror-line>span {
    color: #8f938f;
}

html[totamjung='on'] .cm-s-shadowfox.CodeMirror .CodeMirror-line>span {
    color: #b1b1b3;
}

html[totamjung='on'] .cm-s-duotone-light.CodeMirror .CodeMirror-line>span {
    color: #b29762;
}

html[totamjung='on'] .cm-s-gruvbox-dark.CodeMirror .CodeMirror-line>span {
    color: #bdae93;
}

html[totamjung='on'] .cm-s-yeti-dark.CodeMirror .CodeMirror-line>span {
    color: #d1c9c0;
}

html[totamjung='on'] .cm-s-paraiso-dark.CodeMirror .CodeMirror-line>span {
    color: #b9b6b0;
}

html[totamjung='on'] .cm-s-tomorrow-night-eighties.CodeMirror .CodeMirror-line>span {
    color: #ccc;
}

html[totamjung='on'] .cm-s-yeti.CodeMirror .CodeMirror-line>span,
html[totamjung='on'] .cm-s-seti.CodeMirror .CodeMirror-line>span {
    color: #cfd2d1;
}

html[totamjung='on'] .cm-s-midnight.CodeMirror .CodeMirror-line>span {
    color: #d1edff;
}

html[totamjung='on'] .cm-s-yonce.CodeMirror .CodeMirror-line>span {
    color: #d4d4d4;
}

html[totamjung='on'] .cm-s-zenburn.CodeMirror .CodeMirror-line>span {
    color: #dcdccc;
}

html[totamjung='on'] .cm-s-3024-night.CodeMirror .CodeMirror-line>span,
html[totamjung='on'] .cm-s-base16-dark.CodeMirror .CodeMirror-line>span {
    color: #d6d5d4;
}

html[totamjung='on'] .cm-s-darcula.CodeMirror .CodeMirror-line>span,
html[totamjung='on'] .cm-s-hopscotch.CodeMirror .CodeMirror-line>span,
html[totamjung='on'] .cm-s-abcdef.CodeMirror .CodeMirror-line>span,
html[totamjung='on'] .cm-s-ambiance.CodeMirror .CodeMirror-line>span {
    color: #d7d4f0;
}

html[totamjung='on'] .cm-s-nord.CodeMirror .CodeMirror-line>span {
    color: #d8dee9;
}

html[totamjung='on'] .cm-s-isotope.CodeMirror .CodeMirror-line>span {
    color: #e0e0e0;
}

html[totamjung='on'] .cm-s-panda-syntax.CodeMirror .CodeMirror-line>span {
    color: #e6e6e6;
}

html[totamjung='on'] .cm-s-lesser-dark.CodeMirror .CodeMirror-line>span {
    color: #ebefe7;
}

html[totamjung='on'] .cm-s-tomorrow-night-bright.CodeMirror .CodeMirror-line>span {
    color: #eaeaea;
}

html[totamjung='on'] .cm-s-lesser-dark.CodeMirror .CodeMirror-line>span,
html[totamjung='on'] .cm-s-railscasts.CodeMirror .CodeMirror-line>span {
    color: #f4f1ed;
}

html[totamjung='on'] .cm-s-twilight.CodeMirror .CodeMirror-line>span {
    color: #f5f5f5;
}

html[totamjung='on'] .cm-s-erlang-dark.CodeMirror .CodeMirror-line>span {
    color: #f7f7f7;
}

html[totamjung='on'] .cm-s-material.CodeMirror .CodeMirror-line>span {
    color: #eff;
}

html[totamjung='on'] .cm-s-blackboard.CodeMirror .CodeMirror-line>span,
html[totamjung='on'] .cm-s-colorforth.CodeMirror .CodeMirror-line>span,
html[totamjung='on'] .cm-s-dracula.CodeMirror .CodeMirror-line>span,
html[totamjung='on'] .cm-s-night.CodeMirror .CodeMirror-line>span,
html[totamjung='on'] .cm-s-xq-dark.CodeMirror .CodeMirror-line>span {
    color: #f8f8f8;
}

html[totamjung='on'] .cm-s-lucario.CodeMirror .CodeMirror-line>span,
html[totamjung='on'] .cm-s-monokai.CodeMirror .CodeMirror-line>span,
html[totamjung='on'] .cm-s-oceanic-next.CodeMirror .CodeMirror-line>span {
    color: #f8f8f2;
}

html[totamjung='on'] .cm-s-mbo.CodeMirror .CodeMirror-line>span {
    color: #ffffec;
}

html[totamjung='on'] .cm-s-cobalt.CodeMirror .CodeMirror-line>span,
html[totamjung='on'] .cm-s-liquibyte.CodeMirror .CodeMirror-line>span,
html[totamjung='on'] .cm-s-rubyblue.CodeMirror .CodeMirror-line>span,
html[totamjung='on'] .cm-s-vibrant-ink.CodeMirror .CodeMirror-line>span {
    color: #ffffff;
}

html[totamjung='on'] .ttj-dropdown-menu {
    background-color: var(--translucent-dark-color);
    border-color: var(--bright-menu-line-color);
}

html[totamjung='on'] .ttj-topbtn {
    background-color: var(--bright-menu-line-color);
}

html[totamjung='on'] .ttj-topbtn>span {
    background-color: var(--menu-color);
}

html[totamjung='on'] .ttj-menu-image,
html[totamjung='on'] .ttj-result-icon,
html[totamjung='on'] .ttj-result-img {
    filter: var(--filter-light-brown);
}

html[totamjung='on'] .ttj-popup {
    background-color: var(--bright-menu-line-color);
}

html[totamjung='on'] #ttj-result-image {
    filter: var(--filter-dark-brown);
}

html[totamjung='on'] #ttj-result-text {
    color: var(--menu-color);
    border-left-color: var(--menu-color);
}

#problem-body.font-1 .problem-text {
    font-family: 'Nanum Gothic', 'Noto Sans KR', sans-serif !important;
}

#problem-body.font-2 .problem-text {
    font-family: 'Nanum Gothic Coding', 'Noto Sans KR', sans-serif !important;
}

#problem-body.font-3 .problem-text {
    font-family: 'Nanum Myeongjo', 'Noto Sans KR', sans-serif !important;
}

#problem-body.font-4 .problem-text {
    font-family: 'Do Hyeon', 'Noto Sans KR', sans-serif !important;
    font-size: 18px;
}

#problem-body.font-5 .problem-text {
    font-family: 'Jua', 'Noto Sans KR', sans-serif !important;
    font-size: 18px;
}

#problem-body.font-6 .problem-text {
    font-family: 'Noto Serif KR', 'Noto Sans KR', sans-serif !important;
}

#problem-body.font-7 .problem-text {
    font-family: 'Sunflower', 'Noto Sans KR', sans-serif !important;
}

#problem-body.font-8 .problem-text {
    font-family: 'Yeon Sung', 'Noto Sans KR', sans-serif !important;
    font-size: 20px;
}

#problem-body.font-9 .problem-text {
    font-family: 'Cute Font', 'Noto Sans KR', sans-serif !important;
    font-size: 22px;
}

#problem-body.font-10 .problem-text {
    font-family: 'Gaegu', 'Noto Sans KR', sans-serif !important;
    font-size: 20px;
}

#problem-body.font-11 .problem-text {
    font-family: 'Gothic A1', 'Noto Sans KR', sans-serif !important;
}

#problem-body.font-12 .problem-text {
    font-family: 'Gowun Batang', 'Noto Sans KR', sans-serif !important;
}

#problem-body.font-13 .problem-text {
    font-family: 'Gowun Dodum', 'Noto Sans KR', sans-serif !important;
}

#problem-body.font-14 .problem-text {
    font-family: 'Hi Melody', 'Noto Sans KR', sans-serif !important;
    font-size: 20px;
}

#problem-body.font-15 .problem-text {
    font-family: 'IPM Plex Sans', 'Noto Sans KR', sans-serif !important;
}

#problem-body.font-16 .problem-text {
    font-family: 'Poor Story', 'Noto Sans KR', sans-serif !important;
    font-size: 18px;
}

#problem-body.font-17 .problem-text {
    font-family: 'Single Day', 'Noto Sans KR', sans-serif !important;
    font-size: 18px;
}

#problem-body.font-18 .problem-text {
    font-family: 'Song Myung', 'Noto Sans KR', sans-serif !important;
    font-size: 18px;
}

#problem-body.font-19 .problem-text {
    font-family: 'Stylish', 'Noto Sans KR', sans-serif !important;
    font-size: 20px;
}

/* FOR BOJ EXTENDED */
html[totamjung='on'] .table>thead>tr.result-mine>td:first-child,
html[totamjung='on'] .table>tbody>tr.result-mine>td:first-child,
html[totamjung='on'] .table>tfoot>tr.result-mine>td:first-child {
    border-left-color: var(--title-color);
}

html[totamjung='on'] .panel-footer {
    background-color: var(--secondary-menu-color);
    border-top-color: var(--menu-line-color);
    color: var(--link-color);
}