{
  "env": {
    "node": true,
    "browser": true
  },
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": "error",
    "eqeqeq": "error",
    "no-useless-return": "error",
    "no-unreachable-loop": "error",
    "no-console": "warn"
  }
}
