/**
 * 문제 페이지에 있는 티어를 가리기 위한 스타일입니다.
 */
html[hideTier='true']
  .page-header:has(#problem_title):not(:has(.problem-label-ac))
  .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']) {
  content: url('chrome-extension://__MSG_@@extension_id__/solvedac-tier-hidden.svg');
}

/**
 * 문제 페이지에 있는 티어 텍스트에 적힌 티어를 가리기 위한 스타일입니다.
 */
html[hideTier='true']
  .row:has(#problem_title):not(:has(.problem-label-ac))
  .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg'])
  + span::after {
  color: #a4a4a4;
  content: '난이도 숨겨짐';
}

html[hideTier='true']
  .row:has(#problem_title):not(:has(.problem-label-ac))
  .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg'])
  + span.warn::after {
  color: #b72929;
  content: '어려운 문제 경고';
}
