/**
 * 문제 페이지에 있는 티어를 가리기 위한 스타일입니다.
 */
html[hideTier='true']
  .page-header:has(#problem_title):not(:has(.problem-label-ac))
  .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']) {
  content: url('/public/solvedac-tier-hidden.svg');
}

html[hideTier='true']
  .page-header:has(#problem_title):not(:has(.problem-label-ac))
  .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']).warn {
  content: url('/public/solvedac-tier-warn.svg');
}

html[hideTier='revealOnHover']
  .page-header:has(#problem_title):not(:has(.problem-label-ac))
  .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']):not(:hover) {
  content: url('/public/solvedac-tier-hidden.svg');
}

html[hideTier='revealOnHover']
  .page-header:has(#problem_title):not(:has(.problem-label-ac))
  .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']).warn:not(:hover) {
  content: url('/public/solvedac-tier-warn.svg');
}

html[hideTier='loading']
  .page-header:has(#problem_title):not(:has(.problem-label-ac))
  .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']) {
  opacity: 0;
}

/**
* 문제 페이지에 있는 티어 텍스트에 적힌 티어를 가리기 위한 스타일입니다.
*/
html[hideTier='true']
  .row:has(#problem_title):not(:has(.problem-label-ac))
  .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg'])
  + span::after {
  color: #a4a4a4;
  content: '난이도 숨겨짐';
}

html[hideTier='true']
  .row:has(#problem_title):not(:has(.problem-label-ac))
  .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg'])
  + span.warn::after {
  color: #b72929;
  content: '어려운 문제 경고';
}

html[hideTier='revealOnHover']
  .row:has(#problem_title):not(:has(.problem-label-ac))
  .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']):not(:hover)
  + span::after {
  color: #a4a4a4;
  content: '난이도 숨겨짐';
}

html[hideTier='revealOnHover']
  .row:has(#problem_title):not(:has(.problem-label-ac))
  .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']):not(:hover)
  + span.warn::after {
  color: #b72929;
  content: '어려운 문제 경고';
}

html[hideTier='loading']
  .row:has(#problem_title):not(:has(.problem-label-ac))
  .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg'])
  + span::after {
  content: '';
}

/**
* 문제 목록 페이지에서 문제 티어를 가리기 위한 스타일입니다.
*/
html[hideTier='true']
  #problemset
  tr:not(:has(.problem-label-ac))
  .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']) {
  content: url('/public/solvedac-tier-hidden.svg');
}

html[hideTier='true']
  #problemset
  tr:not(:has(.problem-label-ac))
  .solvedac-tier.warn:not([src*='/0.svg']):not([src*='/-1.svg']) {
  content: url('/public/solvedac-tier-warn.svg');
}

html[hideTier='revealOnHover']
  #problemset
  tr:not(:has(.problem-label-ac))
  .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']):not(:hover) {
  content: url('/public/solvedac-tier-hidden.svg');
}

html[hideTier='revealOnHover']
  #problemset
  tr:not(:has(.problem-label-ac))
  .solvedac-tier.warn:not([src*='/0.svg']):not([src*='/-1.svg']):not(:hover) {
  content: url('/public/solvedac-tier-warn.svg');
}

html[hideTier='loading']
  #problemset
  tr:not(:has(.problem-label-ac))
  .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']) {
  opacity: 0;
}

/**
* 채점 현황 페이지에서 문제 티어를 가리기 위한 스타일입니다.
*/
html[hideTier='true']
  #status-table
  td:nth-child(3):not(:has(.result-ac))
  .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']) {
  content: url('/public/solvedac-tier-hidden.svg');
}

html[hideTier='true']
  #status-table
  td:nth-child(3):not(:has(.result-ac))
  .solvedac-tier.warn:not([src*='/0.svg']):not([src*='/-1.svg']) {
  content: url('/public/solvedac-tier-warn.svg');
}

html[hideTier='revealOnHover']
  #status-table
  td:nth-child(3):not(:has(.result-ac))
  .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']):not(:hover) {
  content: url('/public/solvedac-tier-hidden.svg');
}

html[hideTier='revealOnHover']
  #status-table
  td:nth-child(3):not(:has(.result-ac))
  .solvedac-tier.warn:not([src*='/0.svg']):not([src*='/-1.svg']):not(:hover) {
  content: url('/public/solvedac-tier-warn.svg');
}

html[hideTier='loading']
  #status-table
  td:nth-child(3):not(:has(.result-ac))
  .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']) {
  opacity: 0;
}

/**
* 게시판에서의 문제 티어를 가리기 위한 스타일입니다.
*/
html[hideTier='true']
  .col-md-12:has(a[href='/board/list/solvedac'])
  ~ .col-md-12
  .table.table-bordered.table-striped
  td:nth-child(2):not(:has(.result-ac))
  > .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']) {
  content: url('/public/solvedac-tier-hidden.svg');
}

html[hideTier='true']
  .col-md-12:has(a[href='/board/list/solvedac'])
  ~ .col-md-12
  .table.table-bordered.table-striped
  td:nth-child(2):not(:has(.result-ac))
  > .solvedac-tier.warn:not([src*='/0.svg']):not([src*='/-1.svg']) {
  content: url('/public/solvedac-tier-warn.svg');
}

html[hideTier='revealOnHover']
  .col-md-12:has(a[href='/board/list/solvedac'])
  ~ .col-md-12
  .table.table-bordered.table-striped
  td:nth-child(2):not(:has(.result-ac))
  > .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']):not(:hover) {
  content: url('/public/solvedac-tier-hidden.svg');
}

html[hideTier='revealOnHover']
  .col-md-12:has(a[href='/board/list/solvedac'])
  ~ .col-md-12
  .table.table-bordered.table-striped
  td:nth-child(2):not(:has(.result-ac))
  > .solvedac-tier.warn:not([src*='/0.svg']):not([src*='/-1.svg']):not(:hover) {
  content: url('/public/solvedac-tier-warn.svg');
}

html[hideTier='loading']
  .col-md-12:has(a[href='/board/list/solvedac'])
  ~ .col-md-12
  .table.table-bordered.table-striped
  td:nth-child(2):not(:has(.result-ac))
  > .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']) {
  opacity: 0;
}

/**
* 게시글에서의 문제 티어를 가리기 위한 스타일입니다.
*/
html[hideTier='true']
  .col-md-12:has(a[href='/board/list/solvedac'])
  ~ .col-md-12
  blockquote
  > .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']) {
  content: url('/public/solvedac-tier-hidden.svg');
}

html[hideTier='true']
  .col-md-12:has(a[href='/board/list/solvedac'])
  ~ .col-md-12
  blockquote
  > .solvedac-tier.warn:not([src*='/0.svg']):not([src*='/-1.svg']) {
  content: url('/public/solvedac-tier-warn.svg');
}

html[hideTier='revealOnHover']
  .col-md-12:has(a[href='/board/list/solvedac'])
  ~ .col-md-12
  blockquote
  > .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']):not(:hover) {
  content: url('/public/solvedac-tier-hidden.svg');
}

html[hideTier='revealOnHover']
  .col-md-12:has(a[href='/board/list/solvedac'])
  ~ .col-md-12
  blockquote
  > .solvedac-tier.warn:not([src*='/0.svg']):not([src*='/-1.svg']):not(:hover) {
  content: url('/public/solvedac-tier-warn.svg');
}

html[hideTier='loading']
  .col-md-12:has(a[href='/board/list/solvedac'])
  ~ .col-md-12
  blockquote
  > .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']) {
  opacity: 0;
}

/**
* 네비게이션 메뉴 내부의 티어를 가리기 위한 스타일입니다.
*/
html[hideTier='true'] .nav.nav-pills.no-print.problem-menu:not(:has(a[href^="https://solved.ac/contribute/"]))
 .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']) {
  content: url('/public/solvedac-tier-hidden.svg');
}

html[hideTier='true'] .nav.nav-pills.no-print.problem-menu:not(:has(a[href^="https://solved.ac/contribute/"]))
 .solvedac-tier.warn:not([src*='/0.svg']):not([src*='/-1.svg']) {
  content: url('/public/solvedac-tier-warn.svg');
}

html[hideTier='revealOnHover'] .nav.nav-pills.no-print.problem-menu:not(:has(a[href^="https://solved.ac/contribute/"]))
 .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']):not(:hover) {
  content: url('/public/solvedac-tier-hidden.svg');
}

html[hideTier='revealOnHover'] .nav.nav-pills.no-print.problem-menu:not(:has(a[href^="https://solved.ac/contribute/"]))
 .solvedac-tier.warn:not([src*='/0.svg']):not([src*='/-1.svg']):not(:hover) {
  content: url('/public/solvedac-tier-warn.svg');
}

html[hideTier='loading'] .nav.nav-pills.no-print.problem-menu:not(:has(a[href^="https://solved.ac/contribute/"]))
 .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']) {
  opacity: 0;
}

/**
* 출처 페이지의 문제 목록 메뉴 내부의 티어를 가리기 위한 스타일입니다.
*/
html[hideTier='true']
  .row:has(li[class='active'] > a[href='/category'])
  ~ .row
  .table.table-bordered.table-striped
  tr:not(:has(.problem-label-ac))
  > td:nth-child(3)
  > .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']) {
  content: url('/public/solvedac-tier-hidden.svg');
}

html[hideTier='true']
  .row:has(li[class='active'] > a[href='/category'])
  ~ .row
  .table.table-bordered.table-striped
  tr:not(:has(.problem-label-ac))
  > td:nth-child(3)
  > .solvedac-tier.warn:not([src*='/0.svg']):not([src*='/-1.svg']) {
  content: url('/public/solvedac-tier-warn.svg');
}

html[hideTier='revealOnHover']
  .row:has(li[class='active'] > a[href='/category'])
  ~ .row
  .table.table-bordered.table-striped
  tr:not(:has(.problem-label-ac))
  > td:nth-child(3)
  > .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']):not(:hover) {
  content: url('/public/solvedac-tier-hidden.svg');
}

html[hideTier='revealOnHover']
  .row:has(li[class='active'] > a[href='/category'])
  ~ .row
  .table.table-bordered.table-striped
  tr:not(:has(.problem-label-ac))
  > td:nth-child(3)
  > .solvedac-tier.warn:not([src*='/0.svg']):not([src*='/-1.svg']):not(:hover) {
  content: url('/public/solvedac-tier-warn.svg');
}

html[hideTier='loading']
  .row:has(li[class='active'] > a[href='/category'])
  ~ .row
  .table.table-bordered.table-striped
  tr:not(:has(.problem-label-ac))
  > td:nth-child(3)
  > .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']) {
  opacity: 0;
}

/**
* 출처 페이지의 "추가된 문제" 페이지에서 문제 목록의 티어를 가리기 위한 스타일입니다.
*/
html[hideTier='true']
  .row:has(li[class='active'] > a[href='/problem/added'])
  ~ .row
  .table.table-bordered.table-striped
  tr:not(:has(.problem-label-ac))
  > td:nth-child(2)
  > .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']) {
  content: url('/public/solvedac-tier-hidden.svg');
}

html[hideTier='true']
  .row:has(li[class='active'] > a[href='/problem/added'])
  ~ .row
  .table.table-bordered.table-striped
  tr:not(:has(.problem-label-ac))
  > td:nth-child(2)
  > .solvedac-tier.warn:not([src*='/0.svg']):not([src*='/-1.svg']) {
  content: url('/public/solvedac-tier-warn.svg');
}

html[hideTier='revealOnHover']
  .row:has(li[class='active'] > a[href='/problem/added'])
  ~ .row
  .table.table-bordered.table-striped
  tr:not(:has(.problem-label-ac))
  > td:nth-child(2)
  > .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']):not(:hover) {
  content: url('/public/solvedac-tier-hidden.svg');
}

html[hideTier='revealOnHover']
  .row:has(li[class='active'] > a[href='/problem/added'])
  ~ .row
  .table.table-bordered.table-striped
  tr:not(:has(.problem-label-ac))
  > td:nth-child(2)
  > .solvedac-tier.warn:not([src*='/0.svg']):not([src*='/-1.svg']):not(:hover) {
  content: url('/public/solvedac-tier-warn.svg');
}

html[hideTier='loading']
  .row:has(li[class='active'] > a[href='/problem/added'])
  ~ .row
  .table.table-bordered.table-striped
  tr:not(:has(.problem-label-ac))
  > td:nth-child(2)
  > .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']) {
  opacity: 0;
}

/**
* 문제집 페이지에서 문제 티어를 가리기 위한 스타일입니다.
*/
html[hideTier='true']
  .col-md-12:has(a[href='/workbook/top'])
  ~ .col-md-12
  .table.table-bordered.table-striped
  tr:not(:has(.problem-label-ac))
  td:nth-child(2)
  > .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']) {
  content: url('/public/solvedac-tier-hidden.svg');
}

html[hideTier='true']
  .col-md-12:has(a[href='/workbook/top'])
  ~ .col-md-12
  .table.table-bordered.table-striped
  tr:not(:has(.problem-label-ac))
  td:nth-child(2)
  > .solvedac-tier.warn:not([src*='/0.svg']):not([src*='/-1.svg']) {
  content: url('/public/solvedac-tier-warn.svg');
}

html[hideTier='revealOnHover']
  .col-md-12:has(a[href='/workbook/top'])
  ~ .col-md-12
  .table.table-bordered.table-striped
  tr:not(:has(.problem-label-ac))
  td:nth-child(2)
  > .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']):not(:hover) {
  content: url('/public/solvedac-tier-hidden.svg');
}

html[hideTier='revealOnHover']
  .col-md-12:has(a[href='/workbook/top'])
  ~ .col-md-12
  .table.table-bordered.table-striped
  tr:not(:has(.problem-label-ac))
  td:nth-child(2)
  > .solvedac-tier.warn:not([src*='/0.svg']):not([src*='/-1.svg']):not(:hover) {
  content: url('/public/solvedac-tier-warn.svg');
}

html[hideTier='loading']
  .col-md-12:has(a[href='/workbook/top'])
  ~ .col-md-12
  .table.table-bordered.table-striped
  tr:not(:has(.problem-label-ac))
  td:nth-child(2)
  > .solvedac-tier:not([src*='/0.svg']):not([src*='/-1.svg']) {
  opacity: 0;
}

/**
* BOJ Extended의 유저 프로필 페이지에서 맞추지 않은 문제의 티어를 가리기 위한 스타일입니다.
*/
html[hideTier='true']
  .problem-link-style-box:not(.result-ac):not([data-tier='0'])::before {
  content: url('/public/solvedac-tier-hidden.svg') !important;
}

html[hideTier='true']
  .problem-link-style-box.warn:not(.result-ac):not([data-tier='0'])::before {
  content: url('/public/solvedac-tier-warn.svg') !important;
}

html[hideTier='revealOnHover']
  .problem-link-style-box:not(.result-ac):not([data-tier='0']):not(
    :hover
  )::before {
  content: url('/public/solvedac-tier-hidden.svg') !important;
}

html[hideTier='revealOnHover']
  .problem-link-style-box.warn:not(.result-ac):not([data-tier='0']):not(
    :hover
  )::before {
  content: url('/public/solvedac-tier-warn.svg') !important;
}

html[hideTier='loading']
  .problem-link-style-box:not(.result-ac):not([data-tier='0'])::before {
  opacity: 0;
}
